---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<canvas id="webgl-canvas"></canvas>
	</main>
</Layout>

<script src="@/scripts/index.ts"></script>

<style>
</style>
